* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.main {
  height: 955px;
  display: flex;
  justify-content: center;

  align-items: center;
}

.DigiWatch {
  /* margin: auto; */
  border: 1px solid #2d2f41;
  border-radius: 15px;
  background-color: #2d2f41;
  color: white;
  height: 191px;
  width: 409px;
  position: relative;
}

.Hr {
  font-size: 110px;
  margin-top: -5px;
  margin-left: 75px;
}

.Dt {
  margin-left: 98px;
  font-size: larger;
  margin-top: -33px;
  word-spacing: 5px;
}

.Sec {
  font-size: x-large;
    position: absolute;
    left: 279px;
    bottom: 60px;
}

.Hrt {
  font-size: larger;
  position: absolute;
  left: 279px;
  top: 40px;
}

@media all and (min-height: 956px) {
  .main {
    height: 1980px;
  }

  .DigiWatch {
    margin-top: -40%;
  }
}
